<div class="general">
  <div class="center">
    <div class="header">
      <button (click)="goToProducts()">
        <h3>Products</h3>
      </button>
      <div class="bar">
        /
      </div>
      <h2>Orders</h2>
    </div>
    <hr>
    <div class="body">
      <ng2-smart-table [source]="dataSource" [settings]="settings" (edit)="editOrder($event)"
        (delete)="deleteOrder($event)" (userRowSelect)="showProducts($event)">
      </ng2-smart-table>
      <div *ngIf="products.length > 0" class="modalBlazkowicz">
        <div class="modal fade" id="productsModal" tabindex="-1" role="dialog" aria-labelledby="productsModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modalHeader">
                  <h4>Order Products</h4>
                  <button (click)="products = []">
                    <strong style="color: #5d534a; margin: 10px;">X</strong>
                  </button>
                </div>
              </div>
              <br />
              <div class="modal-body">
                <div class="modalBody">
                  <div *ngFor="let product of products" style="color: #5d534a; width: 100%;">
                    > {{product.name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer">
      <form #form="ngForm" style="width: 100%;">
        <div *ngIf="!isEditing" class="item">
          <button (click)="createOrder()">
            <img src="../../../assets/images/add.png">
          </button>
        </div>
        <div *ngIf="isEditing" class="item">
          <button (click)="updateOrder()">
            <img src="../../../assets/images/edit.png">
          </button>
        </div>
        <div class="item">
          <ng-select #ngSelect [items]="allProducts" placeholder="Select a Product" appendTo="body" bindValue="id"
            bindLabel="name" multiple="true" (change)="addProducts($event)">
          </ng-select>
        </div>
      </form>
      <div *ngIf="noProducts" class="message" style="width: 100%;">
        <span>Please, select at least one product!</span>
      </div>
    </div>
  </div>
</div>
